#container {
	margin: 40px auto;
	overflow: hidden;
	width: 800px;
}

.column {
	float: left;
	width: 500px;
}

body
{
    background-color: silver; /* Le fond de la page sera noir */
    color: black; /* Le texte de la page sera blanc */
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[draggable=true] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor:move;
}

li a:hover:after {
  content: ' (Mettre à la corbeille)';
}

.remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

[draggable=true] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor:move;
}
